syntax: glob
*.bak
*.html
*.swp
*.gif
*.jpg
*.pem
*.pyc
*.pdf
*.ps
*.sgml
*.so
*.tap
*.xml
*.egg-info
*.egg
*.orig
*.pprj
*.xcf
build
bump_version.sh
.glimpse*
ipython.*
junk*
key.priv
key.pub
node.pid
.pytest_cache
.pythonscope*
pangalaxian/*
pangalactic/test/pangalaxian_test
private.key
*.pickle
sedscr
_trial_temp
